<div>
  <h2 id="page-heading" data-cy="TitleHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.title.home.title">Titles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.title.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-title"
        [routerLink]="['/title/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.title.home.createLabel"> Create a new Title </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="titles?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.title.home.notFound">No Titles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="titles && titles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.title.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.title.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="height">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.title.height">Height</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="width">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.title.width">Width</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="weight">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.title.weight">Weight</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let title of titles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/title', title.id, 'view']">{{ title.id }}</a>
          </td>
          <td>{{ title.description }}</td>
          <td>{{ title.height }}</td>
          <td>{{ title.width }}</td>
          <td>{{ title.weight }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/title', title.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/title', title.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(title)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
